@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@source '../node_modules/fumadocs-ui/dist/**/*.js';

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --radius: 0.5rem;
  --sidebar-background: 0 0% 98%;
  --sidebar-foreground: 240 5.3% 26.1%;
  --sidebar-primary: 240 5.9% 10%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 220 13% 91%;
  --sidebar-ring: 217.2 91.2% 59.8%;

}

@theme {
  --color-background: 0 0% 100%;
  --color-foreground: 0 0% 3.9%;
  --color-card: 0 0% 100%;
  --color-card-foreground: 0 0% 3.9%;
  --color-popover: 0 0% 100%;
  --color-popover-foreground: 0 0% 3.9%;
  --color-primary: 0 0% 9%;
  --color-primary-foreground: 0 0% 98%;
  --color-secondary: 0 0% 96.1%;
  --color-secondary-foreground: 0 0% 9%;
  --color-muted: 0 0% 96.1%;
  --color-muted-foreground: 0 0% 45.1%;
  --color-accent: 0 0% 96.1%;
  --color-accent-foreground: 0 0% 9%;
  --color-destructive: 0 84.2% 60.2%;
  --color-destructive-foreground: 0 0% 98%;
  --color-border: 0 0% 89.8%;
  --color-input: 0 0% 89.8%;
  --color-ring: 0 0% 3.9%;
  --color-chart-1: 12 76% 61%;
  --color-chart-2: 173 58% 39%;
  --color-chart-3: 197 37% 24%;
  --color-chart-4: 43 74% 66%;
  --color-chart-5: 27 87% 67%;
  --radius: 0.5rem;
  --sidebar-background: 0 0% 98%;
  --sidebar-foreground: 240 5.3% 26.1%;
  --sidebar-primary: 240 5.9% 10%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 220 13% 91%;
  --sidebar-ring: 217.2 91.2% 59.8%;

  --color-content-code: #1d202a;

}

@layer base {
 
  body {
    @apply bg-background text-foreground;
  }
}


* {
  border-color: #dddddd78 !important;
}




.box-shadow-card{
  box-shadow: 0 1px 1px .5px rgba(41, 41, 41, .04), 0 3px 3px -1.5px rgba(41, 41, 41, .02), 0 6px 6px -3px rgba(41, 41, 41, .04), 0 12px 12px -6px rgba(41, 41, 41, .04), 0 24px 24px -12px rgba(41, 41, 41, .04), 0 48px 48px -24px rgba(41, 41, 41, .04), inset 0 -1px 1px -.5px rgba(51, 51, 51, .06);
}

.shadow-ln-xs {
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-shadow: 0 1px 1px 0.5px rgba(41, 41, 41, .04), 0 3px 3px -1.5px rgba(41, 41, 41, .02), 0 6px 6px -3px rgba(41, 41, 41, .04), 0 12px 12px -6px rgba(41, 41, 41, .04), 0 24px 24px -12px rgba(41, 41, 41, .04), 0 48px 48px -24px rgba(41, 41, 41, .04), 0 0 0 1px rgba(41, 41, 41, .04), inset 0 -1px 1px -0.5px rgba(51, 51, 51, .06);
  --tw-shadow-colored: 0 1px 1px 0.5px var(--tw-shadow-color), 0 3px 3px -1.5px var(--tw-shadow-color), 0 6px 6px -3px var(--tw-shadow-color), 0 12px 12px -6px var(--tw-shadow-color), 0 24px 24px -12px var(--tw-shadow-color), 0 48px 48px -24px var(--tw-shadow-color), 0 0 0 1px var(--tw-shadow-color), inset 0 -1px 1px -0.5px var(--tw-shadow-color);
}

.shadow-ln-toggle-active, .shadow-ln-xs {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-ln-button-orange, .shadow-ln-button-white {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-ln-button-white {
  --tw-shadow: 0 1px 1px 0.5px rgba(51, 51, 51, .04), 0 3px 3px -1.5px rgba(51, 51, 51, .02), 0 6px 6px -3px rgba(51, 51, 51, .04), 0 12px 12px -6px rgba(51, 51, 51, .04), 0 24px 24px -12px rgba(51, 51, 51, .04), 0 48px 48px -24px rgba(51, 51, 51, .04), 0 0 0 1px rgba(51, 51, 51, .1), inset 0 -1px 1px -0.5px rgba(51, 51, 51, .06);
  --tw-shadow-colored: 0 1px 1px 0.5px var(--tw-shadow-color), 0 3px 3px -1.5px var(--tw-shadow-color), 0 6px 6px -3px var(--tw-shadow-color), 0 12px 12px -6px var(--tw-shadow-color), 0 24px 24px -12px var(--tw-shadow-color), 0 48px 48px -24px var(--tw-shadow-color), 0 0 0 1px var(--tw-shadow-color), inset 0 -1px 1px -0.5px var(--tw-shadow-color);
}

.text-ln-label-sm {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -.006em;
  font-weight: 500;
}
.text-ln-gray-450 {
  --tw-text-opacity: 1;
  color: rgb(96 96 96);
}


button[data-state="active"] {
  @apply bg-primary text-white
}
button[data-state="active"] span {
  color:#FFF;
}