:root, :root:has(input.theme-controller[value=light]:checked), [data-theme=light] {
    --color-base-100: oklch(98% 0.002 247.839) !important;
    --color-base-200: oklch(96% 0.003 264.542);
    --color-base-300: oklch(92% 0.006 264.531);
    --color-base-content: oklch(21% 0.034 264.665);
    --color-primary: oklch(51% 0.262 276.966);
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: oklch(60% 0.118 184.704);
    --color-secondary-content: oklch(98% 0.014 180.72);
    --color-accent: oklch(59% 0.249 0.584);
    --color-accent-content: oklch(97% 0.014 343.198);
    --color-neutral: oklch(13% 0.028 261.692);
    --color-neutral-content: oklch(98% 0.002 247.839);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(60% 0.118 184.704);
    --color-success-content: oklch(98% 0.014 180.72);
    --color-warning: oklch(64% 0.222 41.116);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 1rem;
    --radius-field: 1rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 0.5px;
    --depth: 1;
    --noise: 0;
}